@CHARSET "UTF-8";


.little-font {
	font-size: 13px;
}

.little-medium {
	font-size: 24px;
}

.white-font {
	color: #FFFFFF;
}

.text-align-left {
	text-align: left;
}

.text-align-center{
	text-align: center;
}

.text-align-right {
	text-align: right;
}