@CHARSET "UTF-8";

html,body {
	background-color: #DDD;
	min-height: 800px;
	min-width: 600px;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 100%;
		overflow: hidden;

}

.divMain {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.loadingFooter {
	margin-left: 4px;
	bottom: 4%;
	text-align: right;
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: 0px;
}

.staticDiv {
	position: relative;
	width: 100%;
	margin: auto;
	z-index: 1000;
}

.divHeaderNavegacao {
	position: relative;
	height: 110px;
}

.formHeader{
	
}



.childMainDiv {
	position: relative;
	height: 85%;
	min-height: auto;
	overflow-y: auto;
}

.menuDiv {
	position: fixed;
	width: 27%;
	background-color: #FFF;
	float: left;
	height: 100%;
	z-index: 999;
}

.mainContentDiv {
	position: relative;
	width: 73%;
	height: 100%;
	float: right;
	overflow-x: hidden;
}

.contentMainForm{
	height: 90%;
	padding-top: 10px;
}

.mainInsert {
	width: 100%;
	height: 68%;
	position: relative;
	padding-bottom: 30%;
	padding-top: 1%;
	padding-right: 10%;
	padding-left: 2%;
	left: 15px;
}

.divHeaderOpcoes {
	position: relative;
}



.divFooter {
	position: absolute;
	height: 4%;
	margin-left: 4px;
	bottom: 0;
	text-align: right;
	width: 100%;
	z-index: 1000;
}

.gridHeaderGroup{
	padding: 1px;
	width: 100%;
}

.gridHeader{
	position: relative;
	top: 10px;
	float: right;
	right: 5%;
}

.gridHeaderNomeUsuario{
	position: relative;
	width: 70%;
	text-align: right;
	right: 10%;
    vertical-align: bottom;
	top: -3px;
}

.gridHeaderData{
	width: 25%;
	position: relative;
    vertical-align: bottom;
	text-align: center;
}

.gridHeaderLogout{
	width: 10%;
	position: relative;
    vertical-align: bottom;
	text-align: center;
}

.empresasHeaderGrid{
	position: relative;
	float: right;
	margin-right: 10%;


}

.empresasHeaderGridNome{

}

.empresasHeaderGridSelectOneMenu{
	
}



.panelLoading {
	margin: 0 auto;
	margin-right: 0px;
}

.loadingBar {
	height: 120px;
	width: 120px;
}

.itemPanelMenu {
	text-indent: 15px;
}

.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
	{
	background: #79c9ec
		url("/golive-one/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start")
		50% 50% repeat-x !IMPORTANT;
	border: 1px solid #448dae !IMPORTANT;
	color: #000000 !IMPORTANT;
}

.ui-datatable-even {
	background: none !IMPORTANT;
	background-color: #C4CBDD !IMPORTANT;
}

.ui-datatable-even:hover {
	background: #79c9ec
		url("/golive-one/javax.faces.resource/images/ui-bg_glass_75_79c9ec_1x400.png.jsf?ln=primefaces-start")
		50% 50% repeat-x !IMPORTANT;
	color: #000000 !IMPORTANT;
}

.singleLine {
	text-wrap: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ui-state-disabled {
	opacity: 1.00 !IMPORTANT;
}

.ui-widget {
	font-family: Verdana, Arial, sans-serif !important;
	font-size: 0.9em !important;
}

.ui-panelgrid-cell {
	border-width: 0 !important;
}

.scrolls {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap
}

.ui-inputfield {
	color: #010B0F !IMPORTANT;
}

.ui-datatable tbody td,.ui-datatable tfoot td {
	padding: 4px 10px;
	overflow: hidden;
	border-width: 0px !IMPORTANT;
	border-style: none !IMPORTANT;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.tableCadastros {
	width: 100%;
	height: 100%;
}

.mainContentPage {
	position: relative;
	padding-bottom: 5%;
	left: 1%;
	width: 98%;
	overflow-y: auto;
}