@CHARSET "UTF-8";


.tituloColunaFiltro{
	position: relative;
	top: 5px;
}


.filtroInicial{
	position: relative;
	width: 100%;
}

.filtroFinal{
	position: relative;
	width: 100%;

}
.search{
	position: relative;
	top: 5px;
}

.settings{
	position: relative;
	top: 5px;
}

.gridClasseColumnUm{

}

.gridClasseColumnDois{

}

.grid{
	position: relative;
}

.gridPaternColumnUm{
	width: 80%;
}
.gridPaternColumnDois{
	
}