@CHARSET "UTF-8";

.dialogConfiguracoes{}

.selectOneMenuTiposFiltro{}

.dataTableConfiguracaoTabela{
	width: 700px;
}

.colunaDataTableColunas{}

.textoTableColunaConfiguracaoLabel{}

.colunaDataTableSelectOneMenu{}

.btnSalvarConf{
	width: 100%;
	
}

.tableCadastros{
	width: 100%;
}

.colunasStyle{}

.widthColunas{}