@CHARSET "UTF-8";

.singleLine{
    text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.ui-column-title{
	text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.botoesToolBarDefault {
	padding-left: 3%;
	padding-right: 11%;
}

.botoesToolBarEditar {
	padding-left: 3%;
	padding-right: 40%
}

.botoesToolBar {
	margin-top: -3px;
}

.tableCadastros {
	width: 100%;
	height: 100%;
}

.mainContentPage {
	position: relative;
	padding-top: 160px;
	padding-left: 0%;
	padding-right: 0%;
	padding-bottom: 5%;
	width: 100%;
	overflow-y: auto;
}

.edicaoPanel{
	
}
