@CHARSET "UTF-8";

.ui-column-title{
	text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.gridInclusaoFiltro{
	position: relative;
	left: 60px;

}

.colunaUmFiltroInclusao{
	float:left;
} 

.colunaDoisFiltroInclusao{
	float:left;
}
