@CHARSET "UTF-8";

.percentual-05 {
     width: 0.5%;
}

.percentual-1 {
     width: 1%;
}

.percentual-2 {
     width: 2%;
}

.percentual-3 {
     width: 3%;
}

.percentual-4 {
     width: 4%;
}

.percentual-5 {
     width: 5%;
}

.percentual-6 {
     width: 6%;
}

.percentual-7 {
     width: 7%;
}

.percentual-8 {
     width: 8%;
}

.percentual-9 {
     width: 9%;
}

.percentual-10 {
     width: 10%;
}

.percentual-11 {
     width: 11%;
}

.percentual-12 {
     width: 12%;
}

.percentual-13 {
     width: 13%;
}

.percentual-14 {
     width: 14%;
}

.percentual-15 {
     width: 15%;
}

.percentual-16 {
     width: 16%;

}.percentual-17 {
     width: 17%;

}.percentual-18 {
     width: 18%;

}.percentual-19 {
     width: 19%;
}

.percentual-20 {
     width: 20%;
}

.percentual-25 {
     width: 25%;
}

.percentual-28 {
     width: 28%;
}


.percentual-30 {
     width: 30%;
}

.percentual-33 {
     width: 33%;
}

.percentual-35 {
     width: 35%;
}

.percentual-44 {
     width: 44%;
}


.percentual-40 {
     width: 40%;
}

.percentual-50 {
     width: 50%;
}

.percentual-55 {
     width: 55%;
}

.percentual-60 {
     width: 60%;
}

.percentual-68 {
     width: 68%;
}


.percentual-65 {
     width: 65%;
}

.percentual-72 {
	 width: 72%;
}

.percentual-77 {
	 width: 77%;
}

.percentual-78 {
	 width: 78%;
}

.percentual-80 {
	 width: 80%;
}

.percentual-98 {
	 width: 98%;
}

.percentual-100 {
	width: 100%;
}