@CHARSET "UTF-8";

.menuForm {
	position: relative;
	height: 100%;
	background-color: #FFFFFF;
	width: 98%;
	margin-left: 1%;
	overflow-y: auto;
	padding-bottom: 50px;
	top: 100px;

}

.menuPolimorficoDiv{
	background-color: #585858;
}

